body {
  font-family: "Inter", sans-serif;
  font-family: "Roboto Slab", serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin-top: 30px;
  flex-grow: 1;
}

.table th,
.table td {
  padding: 15px;
  text-align: left;
  font-size: 16px;
}

.table th {
  background-color: #007bff;
  color: #fff;
}

.table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.shakemap-thumbnail {
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-family: "Inter", sans-serif;
}

/* Responsive styles */
@media (max-width: 768px) {
  .table th,
  .table td {
    padding: 10px;
    font-size: 14px;
  }

  .footer {
    padding: 10px 15px;
    font-size: 14px;
    margin-top: 15px;
  }

  /* Remove horizontal scrollbar for small screens */
  .table {
    overflow-x: hidden;
  }
}
